Flask==3.0.2
requests==2.31.0
python-dotenv==1.0.1
gunicorn==21.2.0
watchdog==4.0.0

# Testing tools
pytest==7.4.0
pytest-cov==4.1.0

# Linting tools
flake8==7.0.0
autopep8==2.0.4

# API extensions
flask-cors==4.0.0